body
{
    background-image: url("picture/top.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px; 
    width: 70%;
}
.head
{
    display: flex;
    justify-content: space-evenly; 
    padding: 10px; 
    margin-top: 40px;
    margin-bottom: 0px;
    background-color:whitesmoke
}
a
{
    font-size: large;
    font-weight: bold;
    
}

.port
{
    font-size: 60px;
    width:30%;
    height: 100%;
    padding-left: 170px;
    margin-left: 0px;
    color: rgb(0, 0, 0);
   
}
.Mar1
{
    font-size: 20px;
    font-weight: bold;
    margin-left:181px;
    margin-top: 48px;
    color: white;
}
p
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 29px;
    text-align: center;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 40px;
    color: white;
}
.button
{
   display: flex;
   justify-content: center;
   margin-top: 100px;
}
button
{
    width: 200px;
    height: 40px;
    font-size: x-large;
    font-weight: bolder;
    border: none;

    cursor: pointer;
    color: rgb(0, 0, 0);
}
button:hover
{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}